.footer {
    background-color: $darkBlue-footer;
    padding: 2rem;

    .footer__logo {
        width: 10rem;
        margin-bottom: 2rem;
    }

}



@media only Screen and (min-width: 1024px){
    
}
