.main__grid-description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 6rem 0.5rem;

    .grid-description__row {
        h2 {
            margin: 1rem 0 0.5rem 0;
        }

        p {
            max-width: 23.75rem;
        }
    }
}

@media only Screen and (min-width: 1024px) {
    .main__grid-description {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 15.625rem);
        
    }
}
