@import "../utilities/variables";

.stayProductive-section {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 1rem;

    .img-container img {
        max-width: 85%;
    }
}

.rigth-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 40%;

    h2 {
        max-width: 380px;
    }

    p {
        margin: 1rem 0;
        width: 80%;
    }
}

.fyloWorks-a {
    display: inline;
    color: $cyan;
    text-decoration: underline $cyan;
    text-underline-position: under;
    text-underline-offset: 0.5rem;
    background-image: url(/Fylo-Dark-Theme/src/assets/images/icon-arrow.svg);
    background-repeat: no-repeat;
    
}

@media Screen and (min-width: 320px) and (max-width: 768px) {
    .stayProductive-section {
        flex-flow: column wrap;
    }

    .rigth-text {
        width: 100%;

        p {
            width: 100%;
        }

        h2 {
            font-size: 1rem;
        }
    }
}
