.signUp-container {
    padding: 5rem 20em;

    .signUp {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 10rem;
        padding: 2rem 3rem;
        border-radius: 1rem;
        

        p {
            max-width: 65%;
            margin: 1.5rem 0;
        }

        input {
            border-radius: 10rem;
            border: none;
            padding: 1rem 9rem;
            
        }

        #signUp-btn {
            padding: 1rem 3rem;
            margin-left: 1.2rem;
        }
    }
}

@media Screen and (min-width: 320px) and (max-width: 768px) {

    .signUp-container{
        display: none;
    }
}
