.main__testimonials {
    display: grid;
    grid-template-rows: repeat(3, 15rem);
    row-gap: 2rem;
    margin: 8rem 1rem;
}

.testimonials__row:nth-child(1)::before {
    content: "";
    position: absolute;
    top: -2.2rem;
    background-image: url("/Fylo-Dark-Theme/src/assets/images/bg-quotes.png");
    background-repeat: no-repeat;
    z-index: -1;
    width: 4rem;
    height: 3rem;
}

.testimonials__row {
    position: relative;
    background-color: $darkBlue-testimonials;
    padding: 2rem 1rem;
    border-radius: 0.2rem;

    .row__ceo-info {
        display: flex;
        margin-top: 1rem;

        img {
            width: 2.5rem;
            border-radius: 10rem;
        }
    }
}

.ceo-info__text {
    margin-left: 1rem;

    span {
        font-weight: 700;
    }

    p {
        font-size: 0.8rem;
    }
}

@media only Screen and (min-width: 1024px) {
    .main__testimonials {
        grid-template-columns: repeat(3, 25em);
        grid-template-rows: repeat(1, 14rem);
        column-gap: 3rem;
        justify-content: center;
    }
}
