@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

@import "./variables";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: $darkBlue-main;
}
body {
    color: $white;
    font-size: 14px;
    line-height: 1.7;
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
button,
a {
    font-family: "Raleway", sans-serif;
}


a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    font-weight: 700;
    color: $white;
}

p {
    opacity: 0.9;
}

h2{
    font-size: 1rem;
}

