@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: #181f2a;
}

body {
  color: white;
  font-size: 14px;
  line-height: 1.7;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
button,
a {
  font-family: "Raleway", sans-serif;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  font-weight: 700;
  color: white;
}

p {
  opacity: 0.9;
}

h2 {
  font-size: 1rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0.8rem;
  background-color: #1c2431;
}

.header img {
  max-width: 5rem;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only Screen and (min-width: 1024px) {
  .header {
    padding: 2rem 4rem;
  }
  .header img {
    max-width: 8rem;
  }
  .header__nav {
    max-width: 20%;
  }
}

.main__hero {
  background-image: url("/Fylo-Dark-Theme/src/assets/images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #1c2431;
}

.hero__centered-content {
  text-align: center;
}

.hero__centered-content img {
  max-width: 18rem;
}

.hero__centered-content .centered-content__text {
  margin: 1.5rem 1rem;
}

.hero__centered-content h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.hero__centered-content .centered-content__btn {
  cursor: pointer;
  background: #65e2d9;
  background: -webkit-gradient(linear, right top, left top, from(#339ecc), to(#65e2d9));
  background: linear-gradient(to left, #339ecc, #65e2d9);
  padding: 1rem 5rem;
  border-radius: 10rem;
  border-style: none;
  color: white;
  font-weight: 700;
}

.hero__centered-content .centered-content__btn:hover {
  background: #94ebe5;
}

@media only Screen and (min-width: 1024px) {
  .main__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("/Fylo-Dark-Theme/src/assets/images/bg-curvy-desktop.svg");
  }
  .main__hero .hero__centered-content {
    max-width: 50%;
  }
  .main__hero .hero__centered-content img {
    max-width: 35rem;
  }
  .main__hero .centered-content__text {
    margin: 1.5rem 8rem;
  }
}

.main__grid-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  row-gap: 2rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 6rem 0.5rem;
}

.main__grid-description .grid-description__row h2 {
  margin: 1rem 0 0.5rem 0;
}

.main__grid-description .grid-description__row p {
  max-width: 23.75rem;
}

@media only Screen and (min-width: 1024px) {
  .main__grid-description {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (15.625rem)[2];
        grid-template-rows: repeat(2, 15.625rem);
  }
}

.main__stay-productive {
  text-align: center;
  margin: 3rem 1.5rem;
}

.main__stay-productive .stay-productive__img {
  width: 15rem;
}

.main__stay-productive .stay-productive__text {
  text-align: left;
}

.main__stay-productive .stay-productive__text p {
  margin: 0.5rem 0;
}

.stay-productive__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stay-productive__a a {
  color: #65e2d9;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 0.5rem;
  margin-right: 0.5rem;
}

@media only Screen and (min-width: 1024px) {
  .main__stay-productive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .main__stay-productive .stay-productive__img {
    width: 45%;
  }
  .stay-productive__text {
    max-width: 30rem;
  }
  .stay-productive__text h2 {
    font-size: 2rem;
  }
}

.main__testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (15rem)[3];
      grid-template-rows: repeat(3, 15rem);
  row-gap: 2rem;
  margin: 8rem 1rem;
}

.testimonials__row:nth-child(1)::before {
  content: "";
  position: absolute;
  top: -2.2rem;
  background-image: url("/Fylo-Dark-Theme/src/assets/images/bg-quotes.png");
  background-repeat: no-repeat;
  z-index: -1;
  width: 4rem;
  height: 3rem;
}

.testimonials__row {
  position: relative;
  background-color: #202a3c;
  padding: 2rem 1rem;
  border-radius: 0.2rem;
}

.testimonials__row .row__ceo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.testimonials__row .row__ceo-info img {
  width: 2.5rem;
  border-radius: 10rem;
}

.ceo-info__text {
  margin-left: 1rem;
}

.ceo-info__text span {
  font-weight: 700;
}

.ceo-info__text p {
  font-size: 0.8rem;
}

@media only Screen and (min-width: 1024px) {
  .main__testimonials {
    -ms-grid-columns: (25em)[3];
        grid-template-columns: repeat(3, 25em);
    -ms-grid-rows: (14rem)[1];
        grid-template-rows: repeat(1, 14rem);
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wrapper__sign-up {
  background-color: #1c2431;
  text-align: center;
  margin: 1rem;
  border-radius: 0.5rem;
}

.wrapper__sign-up p {
  display: inline-block;
  margin: 1rem 0;
  max-width: 38.75rem;
}

.wrapper__sign-up input {
  padding: 1rem 3rem;
  border: 0;
  border-radius: 10rem;
  margin: 1.5rem 0;
}

.wrapper__sign-up input::-webkit-input-placeholder {
  opacity: 0.5;
}

.wrapper__sign-up input:-ms-input-placeholder {
  opacity: 0.5;
}

.wrapper__sign-up input::-ms-input-placeholder {
  opacity: 0.5;
}

.wrapper__sign-up input::placeholder {
  opacity: 0.5;
}

.wrapper__sign-up button {
  cursor: pointer;
  background: #65e2d9;
  background: -webkit-gradient(linear, right top, left top, from(#339ecc), to(#65e2d9));
  background: linear-gradient(to left, #339ecc, #65e2d9);
  padding: 1rem 5rem;
  border-radius: 10rem;
  border-style: none;
  color: white;
  font-weight: 700;
}

.wrapper__sign-up button:hover {
  background: #94ebe5;
}

@media only Screen and (min-width: 1024px) {
  .wrapper__sign-up {
    margin: 0 auto;
    max-width: 43.75rem;
    padding: 1.5rem;
  }
  .wrapper__sign-up h3 {
    font-size: 1.5rem;
  }
  .wrapper__sign-up input {
    width: 60%;
    margin-right: 1rem;
  }
  .wrapper__sign-up button {
    padding: 1rem 1.5rem;
  }
}

.footer {
  background-color: #0b1523;
  padding: 2rem;
}

.footer .footer__logo {
  width: 10rem;
  margin-bottom: 2.5rem;
}

.footer__company-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% (0.5fr)[4];
      grid-template-rows: 20% repeat(4, 0.5fr);
  grid-gap: 1.5rem;
}

.footer__company-info .wrapper__contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__company-info .wrapper__contact-info p {
  margin: 0.5rem 0 0 1.5rem;
}

.company-info__lorem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company-info__lorem img {
  height: 1.1rem;
  width: 1.1rem;
  margin-right: 0.5rem;
}

.contact-info__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contact-info__ul a {
  display: inline;
  margin-top: 0.8rem;
}

.contact-info__social-media {
  text-align: center;
}

.contact-info__social-media i:not(i:nth-child(1)) {
  margin-left: 1rem;
}

@media only Screen and (min-width: 1024px) {
  .footer__company-info {
    -ms-grid-columns: 30% (0.5fr)[4];
        grid-template-columns: 30% repeat(4, 0.5fr);
    -ms-grid-rows: none;
        grid-template-rows: none;
  }
}
/*# sourceMappingURL=main.css.map */